
.container {
    width: 50%;
    margin: 1%  outo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    aspect-ratio: 1/1;
    background-color: chocolate;
}

.container > * {
    background-color:aqua;
    text-align:center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.container > * :hover {
    background-color:crimson;
}

.wide {
    grid-row: span 3;
}

.wider {
    grid-row: span 2;

}
